    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class = "navbar-brand">
    <a href = "../public/index.html" class ="navbar-item">
                <span class="icon is-large">
                        <i class="fas fa-lg fa-utensils"></i>
                    </span>
                    <h1 class="title">
                        RecipeMe
                    </h1>
                </a>
            </div>
            <p class = "navbar-item">
                <a class="button level"  href="../public/indexLogin.html">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    &nbsp; Search the Database
                </a>
            </p>
            <p class = "navbar-item">
                <a class="button level"  href="../public/dbdisplay.html">
                    <span class="icon">
                        <i class="fas fa-book"></i>
                    </span>
                    &nbsp; View Recipe Database
                </a>
            </p>
            <p class = "navbar-item">
                <a class="button level"  href="../public/users.html">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    &nbsp; View Our Users
                </a>
            </p>
            <p class = "navbar-item">
                <a class="button level"  href="../public/dbdisplay.html">
                    <span class="icon">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    &nbsp; Add a Recipe
                </a>
            </p>
            <p class = "level navbar-item">
                <a class="button level"  href="../public/savedPage.html">
                    <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    &nbsp; Your Personal Home Page
                </a>
            </p>
        </div>
    </nav>